#player {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#player>meting-js {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}